.popup__wrap#1
    .popup
        .close
            i.i-close
        .close.close--black
            i.i-close.i-close--black
        .popup__head
            .popup__title Подам Сам(минимальный)
        .popup__content
            .popup__row.flex-wrap
                .popup__col
                    ul
                        li 	• 	Расширенная консультация (включая подбор ОКВЭДов и выбор типа налогообложения)
                        li 	• 	Открытие р/счёта в Банке Партнёре*
                        li 	• 	Подготовка, оформление учредительных документов и заявлений для МИФНС
                        li 	• 	Отправка готового пакета документов для подачи в МИФНС по e-mail
                .popup__col
                    .popup__subtitle Особенности:
                    ul
                        li 	• 	2 посещения МИФНС.
                        li  • 	(документы в МИФНС подаются и получаются самостоятельно), мы подскажем как - предоставим Инструкцию).
                    .popup__subtitle Дополнительно:
                    ul
                        li Гос. пошлина для ООО - 4 000 руб.
                        li Гос. пошлина для ИП - 800 руб
                        li При необходимости доставка от 500 р.
        .popup__bottom
            .popup__row.flex-wrap
                .popup__col
                    span Срок
                    p 5-7 
                        span рабочих дней
                .popup__col.flex.aie.jcsb
                    .popup__col-left
                        span Стоимость
                        p 2 500
                            span руб
                    a(href="").btn.btn--gold.js-open-popup-form заказать
        .popup__form
            form(action="").form
                .form__title Оставьте ваши данные и наш менеджер свяжется с вами!
                .form__row.flex-wrap
                    .form__col
                        .form__field.flex.aic
                            .form__icon
                                i.i-user
                            input(type="text" placeholder="Ваше имя")
                            .form__field-error Поле обязательно для заполнения
                    .form__col
                        .form__field.flex.aic
                            .form__icon
                                i.i-phone.i-phone--form
                            input(type="text" placeholder="Ваш телефон")
                            .form__field-error Поле обязательно для заполнения
                    .form__col
                        .form__field.flex.aic
                            .form__icon
                                i.i-mail.i-mail--form
                            input(type="text" placeholder="Ваш e-mail")
                            .form__field-error Поле обязательно для заполнения
                button(type="submit").btn.btn--gold.center Отправить
.popup__wrap#2
    .popup
        .close
            i.i-close
        .close.close--black
            i.i-close.i-close--black
        .popup__head
            .popup__title Стандартный
        .popup__content
            .popup__row.flex-wrap
                .popup__col
                    ul
                        li 	• 	Расширенная консультация (включая подбор ОКВЭДов и выбор типа налогообложения)
                        li 	• 	Открытие р/счёта в Банке Партнёре*
                        li 	• 	Подготовка, оформление учредительных документов и заявлений для МИФНС
                        li 	• 	Удаленная подача документов в МИФНС в электронной форме
                .popup__col
                    .popup__subtitle Особенности:
                    ul
                        li 	• 	1 посещения МИФНС.
                        li  • 	(документы в МИФНС подаются и получаются самостоятельно), мы подскажем как - предоставим Инструкцию).
                        li  • 	Экономно (нет платы за нотариальные услуги).
                    .popup__subtitle Дополнительно:
                    ul
                        li Гос. пошлина для ООО - 4 000 руб.
                        li Гос. пошлина для ИП - 800 руб
        .popup__bottom
            .popup__row.flex-wrap
                .popup__col
                    span Срок
                    p 5-7 
                        span рабочих дней
                .popup__col.flex.aie.jcsb
                    .popup__col-left
                        span Стоимость
                        p 4000
                            span руб
                    a(href="").btn.btn--gold.js-open-popup-form заказать
        .popup__form
            form(action="").form
                .form__title Оставьте ваши данные и наш менеджер свяжется с вами!
                .form__row.flex-wrap
                    .form__col
                        .form__field.flex.aic
                            .form__icon
                                i.i-user
                            input(type="text" placeholder="Ваше имя")
                            .form__field-error Поле обязательно для заполнения
                    .form__col
                        .form__field.flex.aic
                            .form__icon
                                i.i-phone.i-phone--form
                            input(type="text" placeholder="Ваш телефон")
                            .form__field-error Поле обязательно для заполнения
                    .form__col
                        .form__field.flex.aic
                            .form__icon
                                i.i-mail.i-mail--form
                            input(type="text" placeholder="Ваш e-mail")
                            .form__field-error Поле обязательно для заполнения
                button(type="submit").btn.btn--gold.center Отправить
.popup__wrap#3
    .popup
        .close
            i.i-close
        .close.close--black
            i.i-close.i-close--black
        .popup__head
            .popup__title Оптимальный
        .popup__content
            .popup__row.flex-wrap
                .popup__col
                    ul
                        li 	• 	Расширенная консультация (включая подбор ОКВЭДов и выбор типа налогообложения)
                        li 	• 	Открытие р/счёта в Банке Партнёре*
                        li 	• 	Подготовка, оформление учредительных документов и заявлений для МИФНС
                        li 	• 	Оформление ЭЦП на  руководителя ООО или ИП
                        li  • 	Удаленная подача документов в МИФНС с ЭЦП, получение полного пакета документов на ООО / ИП подписанных ЭЦП налоговой, оригиналы будут доставлены почтой.
                .popup__col
                    .popup__subtitle Особенности:
                    ul
                        li 	• 	Все у нас в офисе за 1 встречу
                        li  • 	ЭЦП руководитель сможет использовать в теч. 12 мес. на портале гос. услуг и пр. сервисах.
                        li  • 	Экономно (нет платы за нотариальные услуги).
                    .popup__subtitle Дополнительно:
                    ul
                        li ЭЦП – 2000 руб.
        .popup__bottom
            .popup__row.flex-wrap
                .popup__col
                    span Срок
                    p 5-7 
                        span рабочих дней
                .popup__col.flex.aie.jcsb
                    .popup__col-left
                        span Стоимость
                        p 6000
                            span руб
                    a(href="").btn.btn--gold.js-open-popup-form заказать
        .popup__form
            form(action="").form
                .form__title Оставьте ваши данные и наш менеджер свяжется с вами!
                .form__row.flex-wrap
                    .form__col
                        .form__field.flex.aic
                            .form__icon
                                i.i-user
                            input(type="text" placeholder="Ваше имя")
                            .form__field-error Поле обязательно для заполнения
                    .form__col
                        .form__field.flex.aic
                            .form__icon
                                i.i-phone.i-phone--form
                            input(type="text" placeholder="Ваш телефон")
                            .form__field-error Поле обязательно для заполнения
                    .form__col
                        .form__field.flex.aic
                            .form__icon
                                i.i-mail.i-mail--form
                            input(type="text" placeholder="Ваш e-mail")
                            .form__field-error Поле обязательно для заполнения
                button(type="submit").btn.btn--gold.center Отправить
.popup__wrap#4
    .popup
        .close
            i.i-close
        .close.close--black
            i.i-close.i-close--black
        .popup__head
            .popup__title Все влючено
        .popup__content
            .popup__row.flex-wrap
                .popup__col
                    ul
                        li 	• 	Расширенная консультация (включая подбор ОКВЭДов и выбор типа налогообложения)
                        li 	• 	Открытие р/счёта в Банке Партнёре*
                        li 	• 	Подготовка, оформление учредительных документов и заявлений для МИФНС
                        li 	• 	Подача и получение полного пакета документов по ООО/ИП в МИФНС.
                        li 	• 	Наш сотрудник проведет все необходимые действия «под ключ» за 1 встречу или удалённо с Вашего согласия.
                        li 	• 	Произведём оплату гос. пошлины
                        li 	• 	Изготовим печать –автомат, макет согласуем
                .popup__col
                    .popup__subtitle Особенности:
                    ul
                        li 	• 	Все оформляем за 1 встречу в удобном месте при подаче с ЭЦП.
                        li 	• 	Вы получите скидку 10 % на 12 месяцев абсолютно на все юридические услуги компании.
                    .popup__subtitle Дополнительно:
                    ul
                        li Гос. пошлина для ООО - 4 000 руб 
                        li Гос. пошлина для ИП - 800 руб
                        li ЭЦП – 2000 руб. или нотариальные услуги.
                        li Юридический адрес – зависит от района.
        .popup__bottom
            .popup__row.flex-wrap
                .popup__col
                    span Срок
                    p 5-7 
                        span рабочих дней
                .popup__col.flex.aie.jcsb
                    .popup__col-left
                        span Стоимость
                        p 10 000 
                            span руб
                    a(href="").btn.btn--gold.js-open-popup-form заказать
        .popup__form
            form(action="").form
                .form__title Оставьте ваши данные и наш менеджер свяжется с вами!
                .form__row.flex-wrap
                    .form__col
                        .form__field.flex.aic
                            .form__icon
                                i.i-user
                            input(type="text" placeholder="Ваше имя")
                            .form__field-error Поле обязательно для заполнения
                    .form__col
                        .form__field.flex.aic
                            .form__icon
                                i.i-phone.i-phone--form
                            input(type="text" placeholder="Ваш телефон")
                            .form__field-error Поле обязательно для заполнения
                    .form__col
                        .form__field.flex.aic
                            .form__icon
                                i.i-mail.i-mail--form
                            input(type="text" placeholder="Ваш e-mail")
                            .form__field-error Поле обязательно для заполнения
                button(type="submit").btn.btn--gold.center Отправить
.popup__wrap.popup__privacy
    .popup
        .close
            i.i-close
        .close.close--black
            i.i-close.i-close--black
        .popup__head
            .popup__title Политика конфиденциальности персональных данных
        .popup__content
            p Настоящая политика конфиденциальности персональных данных (далее по тексту — «Политика») 
                strong ООО «Комильфо»
                | (далее по тексту — «Компания») устанавливает объем, цели и способы обработки персональных данных пользователей (посетителей) сайта 
                a(href="") https://www.reg-komilfo.ru/
                | (далее по тексту — «Сайт») и публикуется в открытом доступе в соответствиями с требованиями Федерального закона от 27.07.2006 № 152-ФЗ «О персональных данных».
            strong 1. Правовые основания обработки персональных данных
            p Правовыми основаниями обработки персональных данных является, в частности, часть 1 пункта 1 статьи 6 Федерального закона РФ «О персональных данных».
            strong 2. Согласие Пользователя на обработку персональных данных
            p Отправляя сообщение через формы обратной связи, размещенные на Сайте, Пользователь выражает свое согласие на обработку персональных данных в определенных настоящей Политикой целях и объеме.
            p Пользователь может подписаться на получение рассылки по электронной почте и/или абонентскому номеру телефона, если такая возможность предоставляется Сайтом. Рассылка может содержать сведения о новостях, аналитических материалах, мероприятиях, проводимых Компанией. Заполняя поля «Телефон» и/или «Email», Пользователь дает свое согласие на получение таких рассылок. Пользователь в любой момент может отозвать свое согласие на получение рассылки.
            p С целью отправки сообщений по электронной почте Компания может передавать специализированным сервисам такие персональные данные как имя и адрес электронной почты.
            strong 3. Цель обработки персональных данных
            p Цели обработки персональных данных: установление с Пользователем обратной связи, включая направление уведомлений, запросов, касающихся использования Сайта, обработки запросов и заявок от Пользователя, исполнения Компанией принятых на себя договорных обязательств; определение места нахождения Пользователя для обеспечения безопасности, предотвращения мошенничества; предоставление Пользователю эффективной технической поддержки при возникновении проблем; проведение статистических и иных исследований на основе обезличенных данных
            p Если Пользователь просто просматривает Сайт, то персональные данные не обрабатываются.
            strong 4. Объем обрабатываемых персональных данных
            p 1) Любые Персональные данные, которые Пользователь предоставляет самостоятельно в процессе использования Сайта, включая ФИО, E-mail, телефоны. Обязательная для предоставления информация помечена специальным образом. Иная информация предоставляется пользователем Сайта на его усмотрение.
            p 2) Данные, которые автоматически передаются Сайту в процессе их использования с помощью установленного на устройстве Пользователя программного обеспечения, в том числе IP-адрес, данные файлов cookie, информация о браузере пользователя (или иной программе, с помощью которой осуществляется доступ к Сайту Компании), технические характеристики оборудования и программного обеспечения, используемых пользователем, дата и время доступа к Сайту Компании, адреса запрашиваемых страниц и иная подобная информация.
            p На Сайте используется технологии обработки куки (cookie) — это небольшие текстовые файлы, в которые браузер записывает данные с посещенных пользователем сайтов. Эти данные служат для сбора информации о действиях посетителей на сайте, для улучшения качества его содержания и возможностей.
            p В любое время Пользователь можете изменить параметры в настройках своего браузера таким образом, чтобы браузер перестал сохранять все файлы cookie, а также оповещал их об отправке. В этом случае некоторые сервисы и функции Сайта могут перестать работать или работать некорректно.
            strong 5. Конфиденциальность персональных данных
            p Компания не раскрывает третьим лицам и не распространяет персональные данные Пользователей без их согласия кроме случаев, предусмотренных законодательством.
            p Настоящая Политика применима только к информации, обрабатываемой в ходе использования Сайта. Компания не контролирует и не несет ответственность за обработку информации сайтами третьих лиц, на которые пользователь может перейти по ссылкам, доступным на Сайте.
            strong 6. Срок обработки персональных данных
            p Предоставленные Пользователем данные обрабатываются бессрочно, либо до момента, когда Пользователь не отзовет свое согласие на обработку персональных данных, либо откажется от рассылки информации, либо до момента прекращения деятельности Сайта.
            strong 7. Права субъекта персональных данных
            p Субъект персональных данных вправе направить запрос администратору Сайта на получение информации, касающейся обработки его персональных данных в соответствии с требованиями статьи 14 Федерального закона РФ «О персональных данных».
            p Данный запрос может быть направлен по адресам, указанным в разделе «Контакты».
            strong 8. Защита персональных данных
            p Компания принимает меры, необходимые и достаточные для обеспечения выполнения обязанностей, предусмотренных Федеральным законом «О персональных данных» и принятыми в соответствии с ним нормативными правовыми актами. Компания самостоятельно определяет состав и перечень мер, необходимых и достаточных для обеспечения выполнения таких обязанностей.
            p Доступ к персональным данным имеют только уполномоченные сотрудники Компании. Все сотрудники Компании, имеющие доступ к персональным данным, должны придерживаться политики по обеспечению конфиденциальности и защиты персональных данных. В целях обеспечения конфиденциальности информации и защиты персональных данных Компания поддерживает соответствующую IТ-среду и принимает все меры, необходимые для предотвращения несанкционированного доступа.
.popup__wrap.popup__call
    .popup
        .close
            i.i-close
        .close.close--black
            i.i-close.i-close--black
        .popup__form
            form(action="").form
                .form__title Оставьте ваши данные и наш менеджер свяжется с вами!
                .form__row.flex-wrap
                    .form__col
                        .form__field.flex.aic
                            .form__icon
                                i.i-user
                            input(type="text" placeholder="Ваше имя")
                            .form__field-error Поле обязательно для заполнения
                    .form__col
                        .form__field.flex.aic
                            .form__icon
                                i.i-phone.i-phone--form
                            input(type="text" placeholder="Ваш телефон")
                            .form__field-error Поле обязательно для заполнения
                    .form__col
                        .form__field.flex.aic
                            .form__icon
                                i.i-mail.i-mail--form
                            input(type="text" placeholder="Ваш e-mail")
                            .form__field-error Поле обязательно для заполнения
                button(type="submit").btn.btn--gold.center Отправить