.popup__wrap#1
    .popup
        .close
            i.i-close
        .close.close--black
            i.i-close.i-close--black
        .popup__head
            .popup__title Подам Сам(минимальный)
        .popup__content
            .popup__row.flex-wrap
                .popup__col
                    ul
                        li 	• 	Расширенная консультация (включая подбор ОКВЭДов и выбор типа налогообложения)
                        li 	• 	Открытие р/счёта в Банке Партнёре*
                        li 	• 	Подготовка, оформление учредительных документов и заявлений для МИФНС
                        li 	• 	Отправка готового пакета документов для подачи в МИФНС по e-mail
                .popup__col
                    .popup__subtitle Особенности:
                    ul
                        li 	• 	2 посещения МИФНС.
                        li  • 	(документы в МИФНС подаются и получаются самостоятельно), мы подскажем как - предоставим Инструкцию).
                    .popup__subtitle Дополнительно:
                    ul
                        li Гос. пошлина для ООО - 4 000 руб.
                        li Гос. пошлина для ИП - 800 руб
                        li При необходимости доставка от 500 р.
        .popup__bottom
            .popup__row.flex-wrap
                .popup__col
                    span Срок
                    p 5-7 
                        span рабочих дней
                .popup__col.flex.aie.jcsb
                    .popup__col-left
                        span Стоимость
                        p 2 500
                            span руб
                    a(href="").btn.btn--gold.js-open-popup-form заказать
        .popup__form
            form(action="").form
                .form__title Оставьте ваши данные и наш менеджер свяжется с вами!
                .form__row.flex-wrap
                    .form__col
                        .form__field.flex.aic
                            .form__icon
                                i.i-user
                            input(type="text" placeholder="Ваше имя")
                            .form__field-error Поле обязательно для заполнения
                    .form__col
                        .form__field.flex.aic
                            .form__icon
                                i.i-phone.i-phone--form
                            input(type="text" placeholder="Ваш телефон")
                            .form__field-error Поле обязательно для заполнения
                    .form__col
                        .form__field.flex.aic
                            .form__icon
                                i.i-mail.i-mail--form
                            input(type="text" placeholder="Ваш e-mail")
                            .form__field-error Поле обязательно для заполнения
                button(type="submit").btn.btn--gold.center Отправить
.popup__wrap#2
    .popup
        .close
            i.i-close
        .close.close--black
            i.i-close.i-close--black
        .popup__head
            .popup__title Стандартный
        .popup__content
            .popup__row.flex-wrap
                .popup__col
                    ul
                        li 	• 	Расширенная консультация (включая подбор ОКВЭДов и выбор типа налогообложения)
                        li 	• 	Открытие р/счёта в Банке Партнёре*
                        li 	• 	Подготовка, оформление учредительных документов и заявлений для МИФНС
                        li 	• 	Удаленная подача документов в МИФНС в электронной форме
                .popup__col
                    .popup__subtitle Особенности:
                    ul
                        li 	• 	1 посещения МИФНС.
                        li  • 	(документы в МИФНС подаются и получаются самостоятельно), мы подскажем как - предоставим Инструкцию).
                        li  • 	Экономно (нет платы за нотариальные услуги).
                    .popup__subtitle Дополнительно:
                    ul
                        li Гос. пошлина для ООО - 4 000 руб.
                        li Гос. пошлина для ИП - 800 руб
        .popup__bottom
            .popup__row.flex-wrap
                .popup__col
                    span Срок
                    p 5-7 
                        span рабочих дней
                .popup__col.flex.aie.jcsb
                    .popup__col-left
                        span Стоимость
                        p 4000
                            span руб
                    a(href="").btn.btn--gold.js-open-popup-form заказать
        .popup__form
            form(action="").form
                .form__title Оставьте ваши данные и наш менеджер свяжется с вами!
                .form__row.flex-wrap
                    .form__col
                        .form__field.flex.aic
                            .form__icon
                                i.i-user
                            input(type="text" placeholder="Ваше имя")
                            .form__field-error Поле обязательно для заполнения
                    .form__col
                        .form__field.flex.aic
                            .form__icon
                                i.i-phone.i-phone--form
                            input(type="text" placeholder="Ваш телефон")
                            .form__field-error Поле обязательно для заполнения
                    .form__col
                        .form__field.flex.aic
                            .form__icon
                                i.i-mail.i-mail--form
                            input(type="text" placeholder="Ваш e-mail")
                            .form__field-error Поле обязательно для заполнения
                button(type="submit").btn.btn--gold.center Отправить
.popup__wrap#3
    .popup
        .close
            i.i-close
        .close.close--black
            i.i-close.i-close--black
        .popup__head
            .popup__title Оптимальный
        .popup__content
            .popup__row.flex-wrap
                .popup__col
                    ul
                        li 	• 	Расширенная консультация (включая подбор ОКВЭДов и выбор типа налогообложения)
                        li 	• 	Открытие р/счёта в Банке Партнёре*
                        li 	• 	Подготовка, оформление учредительных документов и заявлений для МИФНС
                        li 	• 	Оформление ЭЦП на  руководителя ООО или ИП
                        li  • 	Удаленная подача документов в МИФНС с ЭЦП, получение полного пакета документов на ООО / ИП подписанных ЭЦП налоговой, оригиналы будут доставлены почтой.
                .popup__col
                    .popup__subtitle Особенности:
                    ul
                        li 	• 	Все у нас в офисе за 1 встречу
                        li  • 	ЭЦП руководитель сможет использовать в теч. 12 мес. на портале гос. услуг и пр. сервисах.
                        li  • 	Экономно (нет платы за нотариальные услуги).
                    .popup__subtitle Дополнительно:
                    ul
                        li ЭЦП – 2000 руб.
        .popup__bottom
            .popup__row.flex-wrap
                .popup__col
                    span Срок
                    p 5-7 
                        span рабочих дней
                .popup__col.flex.aie.jcsb
                    .popup__col-left
                        span Стоимость
                        p 6000
                            span руб
                    a(href="").btn.btn--gold.js-open-popup-form заказать
        .popup__form
            form(action="").form
                .form__title Оставьте ваши данные и наш менеджер свяжется с вами!
                .form__row.flex-wrap
                    .form__col
                        .form__field.flex.aic
                            .form__icon
                                i.i-user
                            input(type="text" placeholder="Ваше имя")
                            .form__field-error Поле обязательно для заполнения
                    .form__col
                        .form__field.flex.aic
                            .form__icon
                                i.i-phone.i-phone--form
                            input(type="text" placeholder="Ваш телефон")
                            .form__field-error Поле обязательно для заполнения
                    .form__col
                        .form__field.flex.aic
                            .form__icon
                                i.i-mail.i-mail--form
                            input(type="text" placeholder="Ваш e-mail")
                            .form__field-error Поле обязательно для заполнения
                button(type="submit").btn.btn--gold.center Отправить
.popup__wrap#4
    .popup
        .close
            i.i-close
        .close.close--black
            i.i-close.i-close--black
        .popup__head
            .popup__title Все влючено
        .popup__content
            .popup__row.flex-wrap
                .popup__col
                    ul
                        li 	• 	Расширенная консультация (включая подбор ОКВЭДов и выбор типа налогообложения)
                        li 	• 	Открытие р/счёта в Банке Партнёре*
                        li 	• 	Подготовка, оформление учредительных документов и заявлений для МИФНС
                        li 	• 	Подача и получение полного пакета документов по ООО/ИП в МИФНС.
                        li 	• 	Наш сотрудник проведет все необходимые действия «под ключ» за 1 встречу или удалённо с Вашего согласия.
                        li 	• 	Произведём оплату гос. пошлины
                        li 	• 	Изготовим печать –автомат, макет согласуем
                .popup__col
                    .popup__subtitle Особенности:
                    ul
                        li 	• 	Все оформляем за 1 встречу в удобном месте при подаче с ЭЦП.
                        li 	• 	Вы получите скидку 10 % на 12 месяцев абсолютно на все юридические услуги компании.
                    .popup__subtitle Дополнительно:
                    ul
                        li Гос. пошлина для ООО - 4 000 руб 
                        li Гос. пошлина для ИП - 800 руб
                        li ЭЦП – 2000 руб. или нотариальные услуги.
                        li Юридический адрес – зависит от района.
        .popup__bottom
            .popup__row.flex-wrap
                .popup__col
                    span Срок
                    p 5-7 
                        span рабочих дней
                .popup__col.flex.aie.jcsb
                    .popup__col-left
                        span Стоимость
                        p 10 000 
                            span руб
                    a(href="").btn.btn--gold.js-open-popup-form заказать
        .popup__form
            form(action="").form
                .form__title Оставьте ваши данные и наш менеджер свяжется с вами!
                .form__row.flex-wrap
                    .form__col
                        .form__field.flex.aic
                            .form__icon
                                i.i-user
                            input(type="text" placeholder="Ваше имя")
                            .form__field-error Поле обязательно для заполнения
                    .form__col
                        .form__field.flex.aic
                            .form__icon
                                i.i-phone.i-phone--form
                            input(type="text" placeholder="Ваш телефон")
                            .form__field-error Поле обязательно для заполнения
                    .form__col
                        .form__field.flex.aic
                            .form__icon
                                i.i-mail.i-mail--form
                            input(type="text" placeholder="Ваш e-mail")
                            .form__field-error Поле обязательно для заполнения
                button(type="submit").btn.btn--gold.center Отправить