.menu{
    &__item{
        margin-right: 42px;
        &:last-child{
            margin-right: 0;
        }
        a{
            font-weight: 600;
            font-size: 13px;
            line-height: 18px;
            letter-spacing: 1px;
            text-transform: uppercase;
            color: #FFFFFF;    
            transition: .3s;
            &:hover{
                color: #DFB07B;
            }
        }
    }
}